@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=icon-]:before {
  display: block;
}

.icon-Ellipsesmall:before {
  content: "\e900";
}

.icon-Ellipsefill:before {
  content: "\e901";
}

.icon-Ellipseborder:before {
  content: "\e902";
}

.icon-bag:before {
  content: "\e903";
  font-size: 1.666rem;
}

.icon-reduse:before {
  content: "\e904";
}

.icon-vector:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e906";
}

.icon-car:before {
  content: "\e907";
}

.icon-check:before {
  content: "\e909";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Noto Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Noto Sans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.form__button,
.menu-open .menu__item {
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.form__button:hover,
.menu-open .menu__item:hover,
.form__button:active,
.menu-open .menu__item:active,
.form__button:focus,
.menu-open .menu__item:focus {
  background-color: #ffce8a;
  color: #000;
  text-shadow: 2px 0px 2px #F08C00;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.action__link:hover,
.action__link:active,
.action__link:focus,
.menu__item:hover,
.menu__item:active,
.menu__item:focus {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 1px 0px 2px #F08C00;
}

.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.header__menu {
  padding-top: 3.5625em;
  padding-bottom: 1.375em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-open .menu__body {
  left: 0px;
}

.menu__list {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  color: #C6C0C0;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.5625em;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.menu__logo {
  position: relative;
  z-index: 10;
}

.menu__logo img {
  max-width: 100%;
}

.menu__action {
  position: relative;
  z-index: 10;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action__link {
  color: white;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.icon-menu {
  display: none;
}

.no-webp .page__container{
  background: url("../img/Background.jpg") center 10.12%/cover no-repeat; }

.page__container {
  padding-top: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__title {
  color: #FFF;
  font-weight: 700;
  max-width: 706px;
  margin-bottom: 1.75rem;
  text-align: center;
}

.page__decor {
  background: url("../img/decor/Vectortitle.svg") 0px 0px/100% 100% no-repeat;
  position: relative;
}

.page__text {
  color: #C6C0C0;
  font-size: 1.25em;
  line-height: 2rem;
  max-width: 867px;
  text-align: center;
  margin-bottom: 3rem;
}

.form {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__subbox {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30.8125em;
          flex: 0 1 30.8125em;
}

.form__input {
  padding: 1.11111em 1.33333em;
  font-size: 1.125em;
  border-radius: 45px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: rgba(222, 222, 222, 0.2);
  width: 100%;
  line-height: 24px;
  color: #C6C0C0;
}

.form__subposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  padding-right: 8px;
}

.form__button {
  font-size: 1.26875em;
  color: #FFF;
  padding: 0.682266em;
  background: #F08C00;
  border-radius: 50%;
  -webkit-animation: twist 2s linear infinite 0s;
          animation: twist 2s linear infinite 0s;
}

@-webkit-keyframes twist {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes twist {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.columns__title {
  color: #2E2A2A;
  font-size: 1.25em;
  line-height: 150%;
  font-weight: 600;
  padding-right: 70px;
  padding-left: 3.75rem;
  position: relative;
  margin-bottom: 1rem;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.columns__title::before {
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  -webkit-animation: twist 2s linear infinite 0s;
          animation: twist 2s linear infinite 0s;
}

.columns__title:hover,
.columns__title:active,
.columns__title:focus {
  text-decoration: underline;
  text-shadow: 1px 0px 1px #F08C00;
}

.columns__title:hover::before,
.columns__title:active::before,
.columns__title:focus::before {
  background-color: #ffce8a;
  color: #000;
  -webkit-box-shadow: 2px 0px 50px 0px #686161;
          box-shadow: 2px 0px 50px 0px #686161;
  text-shadow: 2px 0px 2px #F08C00;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.columns__text {
  color: #686161;
  font-size: 1em;
  font-weight: 400;
  line-height: 150%;
  padding-left: 3.75rem;
}

.icon-car::before,
.icon-vector::before,
.icon-reduse::before {
  font-size: 18px;
  color: #FFF;
  width: 2.2222em;
  height: 2.2222em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F08C00;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: absolute;
  top: 0.6875rem;
  left: 0px;
}

@media (min-width: 78.125em) {
  [class*=__container] {
    font-size: 1rem;
  }

  .menu {
    -webkit-column-gap: 20.03125rem;
       -moz-column-gap: 20.03125rem;
            column-gap: 20.03125rem;
  }

  .menu__list {
    -webkit-column-gap: 2.75rem;
       -moz-column-gap: 2.75rem;
            column-gap: 2.75rem;
  }

  .page__container {
    padding-bottom: 38.6875rem;
  }

  .page__title {
    font-size: 3.75rem;
  }

  .page__title {
    line-height: 4.375rem;
  }

  .second-block__container {
    padding-top: 14.25rem;
  }

  .second-block__container {
    padding-bottom: 7.5rem;
  }

  .columns {
    -webkit-column-gap: 2.875rem;
       -moz-column-gap: 2.875rem;
            column-gap: 2.875rem;
  }
}

@media (max-width: 20em) {
  [class*=__container] {
    font-size: 0.625rem;
  }

  .menu {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .menu__list {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .page__container {
    padding-bottom: 6.25rem;
  }

  .page__title {
    font-size: 1.5rem;
  }

  .page__title {
    line-height: 1.875rem;
  }

  .second-block__container {
    padding-top: 7.125rem;
  }

  .second-block__container {
    padding-bottom: 3.75rem;
  }

  .columns {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .menu {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
}

@media (max-width: 47.99875em) {
  .header__container::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #7b7979;
    z-index: 10;
    border: 0.2rem solid #F08C00;
  }

  .menu__body {
    position: absolute;
    top: 0px;
    left: -100%;
    z-index: 5;
    width: 100%;
    height: 100vh;
    -webkit-transition: left 0.8s linear 0s;
    transition: left 0.8s linear 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(18, 18, 18, 0.7215686275);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2em;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 200px;
  }

  .menu__item {
    background: #F08C00;
    text-align: center;
    border-radius: 47px;
    text-shadow: 1px 0px 1px #000;
    color: #fff;
  }

  .menu__item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }

  .menu__action {
    color: #F08C00;
  }

  .action__link {
    color: #F08C00;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #F08C00;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .form__input {
    background: rgb(248, 247, 247);
    color: #727070;
  }

  .columns {
    -ms-grid-columns: 80%;
    grid-template-columns: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 1rem;
  }

  .columns__title {
    margin-bottom: 0px;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 78.125em) {
@supports (font-size: clamp( 0.625rem , 0.4959677419rem  +  0.6451612903vw , 1rem )) {
    [class*=__container] {
      font-size: clamp( 0.625rem , 0.4959677419rem  +  0.6451612903vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.4959677419rem  +  0.6451612903vw , 1rem )) {
    [class*=__container] {
      font-size: calc(0.625rem + 0.375 * (100vw - 20rem) / 58.125);
    }
}

@supports ((-moz-column-gap: clamp( 3.125rem , -2.6922043011rem  +  29.0860215054vw , 20.03125rem )) or (column-gap: clamp( 3.125rem , -2.6922043011rem  +  29.0860215054vw , 20.03125rem ))) {
    .menu {
      -webkit-column-gap: clamp( 3.125rem , -2.6922043011rem  +  29.0860215054vw , 20.03125rem );
         -moz-column-gap: clamp( 3.125rem , -2.6922043011rem  +  29.0860215054vw , 20.03125rem );
              column-gap: clamp( 3.125rem , -2.6922043011rem  +  29.0860215054vw , 20.03125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 3.125rem , -2.6922043011rem  +  29.0860215054vw , 20.03125rem )) or (column-gap: clamp( 3.125rem , -2.6922043011rem  +  29.0860215054vw , 20.03125rem ))) {
    .menu {
      -webkit-column-gap: calc(3.125rem + 16.90625 * (100vw - 20rem) / 58.125);
         -moz-column-gap: calc(3.125rem + 16.90625 * (100vw - 20rem) / 58.125);
              column-gap: calc(3.125rem + 16.90625 * (100vw - 20rem) / 58.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.1061827957rem  +  3.6559139785vw , 2.75rem )) or (column-gap: clamp( 0.625rem , -0.1061827957rem  +  3.6559139785vw , 2.75rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.625rem , -0.1061827957rem  +  3.6559139785vw , 2.75rem );
         -moz-column-gap: clamp( 0.625rem , -0.1061827957rem  +  3.6559139785vw , 2.75rem );
              column-gap: clamp( 0.625rem , -0.1061827957rem  +  3.6559139785vw , 2.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.1061827957rem  +  3.6559139785vw , 2.75rem )) or (column-gap: clamp( 0.625rem , -0.1061827957rem  +  3.6559139785vw , 2.75rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.625rem + 2.125 * (100vw - 20rem) / 58.125);
         -moz-column-gap: calc(0.625rem + 2.125 * (100vw - 20rem) / 58.125);
              column-gap: calc(0.625rem + 2.125 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-bottom: clamp( 6.25rem , -4.9112903226rem  +  55.8064516129vw , 38.6875rem )) {
    .page__container {
      padding-bottom: clamp( 6.25rem , -4.9112903226rem  +  55.8064516129vw , 38.6875rem );
    }
}

@supports not (padding-bottom: clamp( 6.25rem , -4.9112903226rem  +  55.8064516129vw , 38.6875rem )) {
    .page__container {
      padding-bottom: calc(6.25rem + 32.4375 * (100vw - 20rem) / 58.125);
    }
}

@supports (font-size: clamp( 1.5rem , 0.7258064516rem  +  3.8709677419vw , 3.75rem )) {
    .page__title {
      font-size: clamp( 1.5rem , 0.7258064516rem  +  3.8709677419vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.7258064516rem  +  3.8709677419vw , 3.75rem )) {
    .page__title {
      font-size: calc(1.5rem + 2.25 * (100vw - 20rem) / 58.125);
    }
}

@supports (line-height: clamp( 1.875rem , 1.0147849462rem  +  4.3010752688vw , 4.375rem )) {
    .page__title {
      line-height: clamp( 1.875rem , 1.0147849462rem  +  4.3010752688vw , 4.375rem );
    }
}

@supports not (line-height: clamp( 1.875rem , 1.0147849462rem  +  4.3010752688vw , 4.375rem )) {
    .page__title {
      line-height: calc(1.875rem + 2.5 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-top: clamp( 7.125rem , 4.6733870968rem  +  12.2580645161vw , 14.25rem )) {
    .second-block__container {
      padding-top: clamp( 7.125rem , 4.6733870968rem  +  12.2580645161vw , 14.25rem );
    }
}

@supports not (padding-top: clamp( 7.125rem , 4.6733870968rem  +  12.2580645161vw , 14.25rem )) {
    .second-block__container {
      padding-top: calc(7.125rem + 7.125 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 2.4596774194rem  +  6.4516129032vw , 7.5rem )) {
    .second-block__container {
      padding-bottom: clamp( 3.75rem , 2.4596774194rem  +  6.4516129032vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.4596774194rem  +  6.4516129032vw , 7.5rem )) {
    .second-block__container {
      padding-bottom: calc(3.75rem + 3.75 * (100vw - 20rem) / 58.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.1491935484rem  +  3.8709677419vw , 2.875rem )) or (column-gap: clamp( 0.625rem , -0.1491935484rem  +  3.8709677419vw , 2.875rem ))) {
    .columns {
      -webkit-column-gap: clamp( 0.625rem , -0.1491935484rem  +  3.8709677419vw , 2.875rem );
         -moz-column-gap: clamp( 0.625rem , -0.1491935484rem  +  3.8709677419vw , 2.875rem );
              column-gap: clamp( 0.625rem , -0.1491935484rem  +  3.8709677419vw , 2.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.1491935484rem  +  3.8709677419vw , 2.875rem )) or (column-gap: clamp( 0.625rem , -0.1491935484rem  +  3.8709677419vw , 2.875rem ))) {
    .columns {
      -webkit-column-gap: calc(0.625rem + 2.25 * (100vw - 20rem) / 58.125);
         -moz-column-gap: calc(0.625rem + 2.25 * (100vw - 20rem) / 58.125);
              column-gap: calc(0.625rem + 2.25 * (100vw - 20rem) / 58.125);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 78.125em) {
  .menu {
    -webkit-column-gap: 7.5rem;
       -moz-column-gap: 7.5rem;
            column-gap: 7.5rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 78.125em) {
@supports ((-moz-column-gap: clamp( 3.125rem , 1.6196236559rem  +  7.5268817204vw , 7.5rem )) or (column-gap: clamp( 3.125rem , 1.6196236559rem  +  7.5268817204vw , 7.5rem ))) {
    .menu {
      -webkit-column-gap: clamp( 3.125rem , 1.6196236559rem  +  7.5268817204vw , 7.5rem );
         -moz-column-gap: clamp( 3.125rem , 1.6196236559rem  +  7.5268817204vw , 7.5rem );
              column-gap: clamp( 3.125rem , 1.6196236559rem  +  7.5268817204vw , 7.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 3.125rem , 1.6196236559rem  +  7.5268817204vw , 7.5rem )) or (column-gap: clamp( 3.125rem , 1.6196236559rem  +  7.5268817204vw , 7.5rem ))) {
    .menu {
      -webkit-column-gap: calc(3.125rem + 4.375 * (100vw - 20rem) / 58.125);
         -moz-column-gap: calc(3.125rem + 4.375 * (100vw - 20rem) / 58.125);
              column-gap: calc(3.125rem + 4.375 * (100vw - 20rem) / 58.125);
    }
}
}

.webp .page__container{ background: url(../img/Background.webp) center 10.12%/cover no-repeat; }